@using static ProductOrdering.Helpers.NavigationIndicatorHelper;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager;
@inject ProductOrdering.Data.ApplicationDbContext _context;
@{
    int numOfUnPrintLabel = 0;
    var user = await _userManager.GetUserAsync(User);
    user.UserDetail = _context.UserDetails.FirstOrDefault(u => u.UserId == user.Id);
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Product Ordering</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                @if (user.UserDetail.UserImage != null)
                {
                    <img src="~/imageSource/UserImage/@user.UserDetail.UserImage" class="img-circle elevation-2" alt="User Image">
                }
                else
                {
                    <img src="~/imageSource/UserImage/DefaultUserImage/user.png" class="img-circle elevation-2" alt="User Image">
                }
            </div>
            <div class="info">
                <a href="@Url.ActionLink("Index","UserManager")" class="d-block">@user.UserDetail.FirstName&nbsp;&nbsp;@user.UserDetail.LastName</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            หน้าหลัก
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Dashboard" class="nav-link @Url.MakeActiveClass("home","dashboard")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            แผงควบคุม
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Ordering" asp-action="Index" class="nav-link @Url.MakeActiveClass("Ordering","index")">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            รายการสั่งซื้อ
                        </p>
                    </a>
                </li>
                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item ">
                        <a asp-controller="Product" asp-action="Index" class="nav-link @Url.MakeActiveClass("Product","index")">
                            <i class="nav-icon fas fa-cubes"></i>
                            <p>
                                สินค้าคงคลัง
                            </p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Administrator") || User.IsInRole("Printer"))
                {

                    numOfUnPrintLabel = _context.Orderings.Where(o => o.Status == Status.Sending).ToList().Count();
                    <li class="nav-item ">
                        <a asp-controller="Ordering" asp-action="OrderPreparingToPrint" class="nav-link @Url.MakeActiveClass("Ordering","OrderPreparingToPrint")">
                            <i class="nav-icon fas fa-print"></i>
                            <p>
                                พิมพ์ Labels
                            </p>
                            @if (numOfUnPrintLabel != 0)
                            {
                                <span style="position: absolute;top: 1px; z-index: 10;" class="badge badge-danger">@numOfUnPrintLabel</span>
                            }

                        </a>
                    </li>
                }
                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item ">
                        <a asp-controller="Report" asp-action="Index" class="nav-link @Url.MakeActiveClass("Report","Index")">
                            <i class="nav-icon fas fa-fax"></i>
                            <p>
                                สรุปรายงาน
                            </p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item ">
                        <a asp-controller="UserManagement" asp-action="Index" class="nav-link @Url.MakeActiveClass("UserManagement","index")">
                            <i class="nav-icon fas fa-user-cog"></i>
                            <p>
                                จัดการผู้ใช้
                            </p>
                        </a>
                    </li>
                }

                @*<li class="nav-item ">
                    <a asp-controller="Home" asp-action="Privacy" class="nav-link @Url.MakeActiveClass("home","privacy")">
                        <i class="nav-icon fas fa-lock"></i>
                        <p>
                            Privacy
                        </p>
                    </a>
                </li>*@
            </ul>
        </nav>
    </div>
</aside>