@model IEnumerable<ProductOrdering.Models.Product>

@{
    ViewData["Title"] = "สินค้า";
}

    <h1>สินค้า</h1>

<p>
    <a class="btn btn-primary" asp-action="AddProduct">เพิ่มสินค้าชิ้นใหม่</a>
    <a class="btn btn-success" asp-controller="Category" asp-action="Index">จัดการหมวดสินค้า</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>*@
            <td>
                <img src="~/imageSource/@item.ProductImage"
                     
                     height="40" width="40"
                     asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("แก้ไข", "EditProduct", new {  id=item.ProductId  }) |
                @Html.ActionLink("รายละเอียด", "Details", new { id=item.ProductId }) |
                @Html.ActionLink("ลบ", "DeleteProduct", new {  id=item.ProductId })
            </td>
        </tr>
}
    </tbody>
</table>
