@model IEnumerable<ProductOrdering.Models.Product>
@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;

@{
    ViewData["Title"] = "สินค้า";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary" asp-action="AddProduct">เพิ่มสินค้าชิ้นใหม่</a>
    <a class="btn btn-success" asp-controller="Category" asp-action="Index">จัดการหมวดสินค้า</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">สินค้าคงคลัง</h3>
        <div class="card-tools">
            <!-- paging control for navigation to the previous page, next page, etc -->
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
                new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = false,
                    ContainerDivClasses = new[] { "navigation" },
                    LiElementClasses = new[] { "page-item" },
                    PageClasses = new[] { "page-link" },
                })
        </div>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive-lg">
            <table class="table table-striped table-border table-hover">
                <thead>
                    <tr>
                        @*<th>
                                @Html.DisplayNameFor(model => model.ProductId)
                            </th>*@
                        <th style="width: 18%">
                            @Html.DisplayNameFor(model => model.ProductImage)
                        </th>
                        <th style="width: 15%">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th style="width: 15%">
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th style="width: 15%">
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th style="width: 15%">
                            @Html.DisplayNameFor(model => model.CategoryId)
                        </th>
                        <td style="width: 22%"></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.ProductId)
                                </td>*@
                            <td>
                                <img src="~/imageSource/@item.ProductImage"
                                     style="max-width: 100px; width: 100%; min-width: 45px"
                                     asp-append-version="true" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @Html.ActionLink("แก้ไข", "EditProduct", new { id = item.ProductId }) |
                                @Html.ActionLink("รายละเอียด", "PreductDetails", new { id = item.ProductId }) |
                                @*@Html.ActionLink("ลบ", "DeleteProduct", new { id = item.ProductId }) |*@
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteProduct", "Product", new { id = item.ProductId })">
                                        <i style="color: white" class="fa fa-trash"></i>
                                    </a>
                                    <a class="btn btn-info btn-sm" id="edit_@item.ProductId" onclick="createModal('@Url.Action("ProductDetails", "Product" , new {id = item.ProductId })')">
                                        <i style="color: white;" class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                </div>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modelContent">
        </div>
    </div>
</div>
@section Scripts{
    <script>
        // Workaround to fix style of text for showing items .. through ..
        // Problem related to Boostrap 4 according to issue in link below
        // https://github.com/dncuug/X.PagedList/issues/127
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">

</script>
<script>
    function createModal(url) {
        $('#modelContent').load(url);
        $('#myModal').modal('show');
    }
</script>
