@model IEnumerable<ProductOrdering.Models.Product>
@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;

@{
    ViewData["Title"] = "สินค้า";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>สินค้า</h1>

<p>
    <a class="btn btn-primary" asp-action="AddProduct">เพิ่มสินค้าชิ้นใหม่</a>
    <a class="btn btn-success" asp-controller="Category" asp-action="Index">จัดการหมวดสินค้า</a>
</p>
<!-- paging control for navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
    new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
    {
        DisplayItemSliceAndTotal = false,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>*@
                <td>
                    <img src="~/imageSource/@item.ProductImage"
                         height="40" width="40"
                         asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.ActionLink("แก้ไข", "EditProduct", new { id = item.ProductId }) |
                    @Html.ActionLink("รายละเอียด", "PreductDetails", new { id = item.ProductId }) |
                    @Html.ActionLink("ลบ", "DeleteProduct", new { id = item.ProductId }) |
                    <span class="btn btn-xs btn-primary btnEdit" id="edit_@item.ProductId" onclick="createModal('@Url.Action("ProductDetails", "Product" , new {id=item.ProductId })')">Details</span>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modelContent">
        </div>
    </div>
</div>
@section Scripts{
    <script>
        // Workaround to fix style of text for showing items .. through ..
        // Problem related to Boostrap 4 according to issue in link below
        // https://github.com/dncuug/X.PagedList/issues/127
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js">

</script>
<script>
    function createModal(url) {
        $('#modelContent').load(url);
        $('#myModal').modal('show');
    }
</script>
