@model ProductOrdering.Models.UserDetail

@{
    ViewData["Title"] = "ข้อมูลผู้ใช้";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>ข้อมูลผู้ใช้</h1>
@if (Model == null)
{
    <a class="btn btn-primary" asp-action="AddUserDetail">เพิ่มข้อมูลผู้ใช้</a>
    <div>ยังไม่มีข้อมูลผู้ใช้ กรุณากรอกข้อมูล</div>
}
else
{

    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                @if (Model.UserImage == null)
                {
                    @*<img class="profile-user-img img-fluid img-circle"
            src="~/imageSource/UserImage/DefaultUserImage/user.png"
            alt="User profile picture">*@
                    <img class="circular--profile" src="~/imageSource/UserImage/DefaultUserImage/user.png" />
                }
                else
                {
                    @*<img class="profile-user-img img-fluid img-circle"
            src="~/imageSource/UserImage/@Model.UserImage"
            alt="User profile picture">*@
                    <img class="circular--profile" src="~/imageSource/UserImage/@Model.UserImage" />

                }

            </div>

            <h3 class="profile-username text-center">@Model.FirstName&nbsp;&nbsp;@Model.LastName</h3>

            <p class="text-muted text-center">Software Engineer</p>

            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>ชื่อ</b> <a class="float-right">@Model.FirstName</a>
                </li>
                <li class="list-group-item">
                    <b>นามสกุล</b> <a class="float-right">@Model.LastName</a>
                </li>
                <li class="list-group-item">
                    <b><label asp-for="Tel"></label></b> <a class="float-right">@Model.Tel</a>
                </li>
                <li class="list-group-item">
                    <b>ที่อยู่</b> <a class="float-right">@Model.FullAddress</a>
                </li>
            </ul>

            <a asp-action="EditUserDetail" asp-route-id="@Model.UserDetailId" class="btn btn-primary btn-block"><b>แก้ไข</b></a>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-------------------------------------------------------------------->
    @*<div>
            <h4>ข้อมูลผู้ใช้</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.District_id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.District.Name_th)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Aumphure_id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Aumphure.Name_th)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Province_id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Province.Name_th)
                </dd>
            </dl>
        </div>*@
    @*<div>
            <a asp-action="EditUserDetail" asp-route-id="@Model.UserDetailId">แก้ไขข้อมูลส่วนตัว</a> |

        </div>*@
}

