@model ProductOrdering.Models.Category

@{
    ViewData["Title"] = "รายละเอียดหมวดสินค้า";
}

    <h1>รายละเอียดหมวดสินค้า</h1>

<div>
    <h4>หมวดสินค้า</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">แก้ไข</a> |
    <a asp-action="Index">กลับ</a>
</div>
