@model IEnumerable<Ordering>
@using ProductOrdering.Extensions
@{
    Layout = null;
    //bool IsOpenTR = true;
    List<Ordering> orderings = new List<Ordering>();
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>พิมพ์รายการสั่งซื้อ</title>
    <style>
        tr.title td {
            border-left: 0px solid;
            border-right: 0px solid;
        }
    </style>
</head>
<body>
    <table align="center" width="90%" border="1">

        @foreach (var item in Model)
        {
            orderings.Add(item);
            if (orderings.Count() == 2)
            {
        <tr>
            <td style="border-right: 0px solid;" height="100" width="40%">
                @(orderings[0].Receiver.Name) @(orderings[0].Receiver.Lastname)<br>
                เบอร์โทร @(orderings[0].Receiver.Tel) <br>
                @(orderings[0].Receiver.FullAddress)
            </td>
            <td style="border-left: 0px solid;" width="10%"></td>
            <td height="100" width="40%">
                @(orderings[1].Receiver.Name) @(orderings[1].Receiver.Lastname)<br>
                เบอร์โทร @(orderings[1].Receiver.Tel) <br>
                @(orderings[1].Receiver.FullAddress)
            </td>
            <td width="10%"></td>
        </tr>
                orderings = new List<Ordering>();
            }
        }
    </table>
</body>
</html>
