@model IEnumerable<ProductOrdering.Models.ApplicationUser>
@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "สรุปยอดการสั่งซื้อ";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">รายการสั่งซื้อ</h3>

        <div class="card-tools">
            <!-- paging control for navigation to the previous page, next page, etc -->
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                new
                {
                    page = page,
                    q = HttpContextAccessor.HttpContext.Request.Query["q"].ToString(),
                    CategoryId = HttpContextAccessor.HttpContext.Request.Query["CategoryId"]
                }),
                new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                {
                    DisplayItemSliceAndTotal = false,
                    ContainerDivClasses = new[] { "navigation" },
                    LiElementClasses = new[] { "page-item" },
                    PageClasses = new[] { "page-link" },

                })
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive-lg">
            <table class="table table-striped table-border table-hover">
                <thead class="table-info">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserDetail.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserDetail.Tel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DisplayingAllRole)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserDetail.Address)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserDetail.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserDetail.Tel)
                            </td>
                            <th>
                                @Html.DisplayFor(modelItem => item.DisplayingAllRole)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserDetail.FullAddress)
                            </td>
                            <td>
                                <a class="btn btn-success" asp-action="ViewReportEachUser" asp-route-id="@item.Id">
                                    <i style="color:white;" class="fa fa-search"> ตรวจสอบ</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
